<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Gonzalo Monar</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" [style.margin-right.px]="40">
      <li class="ms-3"><a class="text-body-secondary" href="mailto:gonza.monar@gmail.com"> <fa-icon [icon]="iconEmail"></fa-icon> </a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://github.com/gonzamonar/"> <fa-icon [icon]="iconGithub"></fa-icon> </a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/gonzalo-monar/"> <fa-icon [icon]="iconLinkedin"></fa-icon> </a></li>
    </ul>
</footer>