<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom fixed-top">
    <div class="col-md-3 mb-2 mb-md-0">
        <a [routerLink]="['/']" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="../../../assets/google-firebase-icon.webp" alt="" width="40px" height="40px">
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a [routerLink]="['/']" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a [routerLink]="['/auth']" class="nav-link px-2">Authentication</a></li>
      <li><a [routerLink]="['/create']" class="nav-link px-2">Firestore</a></li>
      <li><a [routerLink]="['/storage']" class="nav-link px-2">Storage</a></li>
    </ul>

    <div class="col-md-3 session-info">
      <p [style.margin]="0" *ngIf="session.isSessionActive()">{{ session.getCurrentUser() }}</p>
      <a *ngIf="!session.isSessionActive()" [routerLink]="['auth/login']"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
      <a *ngIf="!session.isSessionActive()" [routerLink]="['auth/register']"><button type="button" class="btn btn-primary">Registro</button></a>
      <a *ngIf="session.isSessionActive()" [routerLink]="['auth/logout']"><button type="button" class="btn btn-primary">Logout</button></a>
    </div>
</header>
